html {
  height: 100%;
}


body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-container {
  background-color: #ffffff;
  height: 60vh;
  width: 60vh;
  padding: 80px;
  align-items: center;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.register-container {
  background-color: #ffffff;
  height: 60vh;
  width: 60vh;
  padding: 80px;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container {
  background-color: #00402f;
}

.footer {
  padding-top: 10px;
  background-color: #00402f;
  color: white;
  height: auto;
  position: fixed;
  bottom: 0;
  width: 100%;;
}

.footer img {
  width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  margin: 4px;
}

.navbar-brand {
  padding: 0 !important;
  margin-right: 1rem;
  border-radius: 0.25rem;
  width: 12rem;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
}


.brandedBtn {
  background-color: #004e42;
  padding: 12px;
  width: 120px;
}