html {
  height: 100%;
}


body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container {
  background-color: #00402f;
}

.footer {
  padding-top: 10px;
  background-color: #00402f;
  height: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar-brand {
  padding: 0 !important;
  margin-right: 1rem;
  border-radius: 0.25rem;
  width: 12rem;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
}


.brandedBtn {
  background-color: #004e42;
  padding: 12px;
  width: 120px;
}